@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  background: #fff;
  font-family: "Poppins", sans-serif;
}
.App {
  font-family: sans-serif;
  /* text-align: center; */
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
#docs {
  background-color: #fbfefe;
}

.left-h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 3rem;
}

.logo-container {
  align-self: left;
  align-items: left;
  width: 100%;
  height: 15vh;
}

.logo-pic {
  padding: 5px;
  height: 70%;
  width: max-content;
  margin-left: 1.5rem;
  margin-top: 1rem;
  padding: 0;
}
.video-img {
  margin-top: 50%;
}
.main-container-home {
  background: linear-gradient(to left, #1c4179, #262343);
  color: white;
  margin-left: 30px;
  margin-right: 20px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-right-radius: 300px;
  border-bottom-left-radius: 48px;
}

.hr-length {
  visibility: hidden;
}
.left {
  width: 50%;
  margin-bottom: 5%;
  margin-left: 8%;
}
.left-h1 {
  font-size: 300%;
  padding: 50px;
  width: 83%;
  margin-bottom: 10px;
  margin-left: -9.5%;
}
.left-para {
  font-size: 120%;
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: 5px;
}
.left-para-text {
  width: 80%;
}
.right {
  width: 50%;
  margin-bottom: 0;
  align-self: right;
  float: right;
  margin-left: 20%;
  margin-right: -15%;
}
.right-image {
  width: 180%;
  margin-top: -80%;
  margin-left: 20%;
  margin-right: -20px;
}
.main-container-home {
  display: flex;
  align-items: flex-end;
  margin-bottom: 7%;
}

.main-btn {
  width: 185px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 10px;
}
.scn-hr {
  color: #000000;
  width: 50%;
  margin: 20px auto;
  border-top: 5px dotted rgb(0, 0, 0);
}
hr {
  border-top: 2px solid black;
}

.hr2 {
  margin-top: 80px;
}

.scn {
  justify-content: flex-end;
}
.second-container {
  margin: 0;
  align-self: center;
}
.second {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.text1 {
  padding-top: 6%;
  padding-left: 2%;
  padding-right: 5%;
  width: 50%;
  font-size: 120%;
  margin-right: -10%;
  color: #1920bc;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.images1 {
  width: 100%;
  margin-right: -20%;
  margin-top: 10px;
  padding-top: 20px;
  height: 300px;
  object-fit: contain;
}
.text2 {
  padding: 10% 6%;
  width: 50%;
  font-family: "Poppins", sans-serif;
  font-size: 120%;
  margin-left: -10%;
  color: #1920bc;
  display: flex;
  flex-direction: column;
}
.secondary-image {
  width: 50%;
}
.images2 {
  width: 60%;
  margin-left: 13%;
  object-fit: contain;
}
.secondary-btn-home {
  margin: 20px;
  padding: 10% -5%;
  padding-left: -5%;
  background-color: #ffd166;
  border: 2px solid #272343;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 6%;
  cursor: pointer;
  width: 40%;
  height: 34px;
  top: 581px;
  left: 1162px;
}

.fa-brands {
  color: #fff;
  margin: 18px;
  margin-bottom: 5%;
}
.foot {
  background: linear-gradient(to top, #1c4179, #272343);
  padding: 3%;
  margin: 0 auto;

  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: regular;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.social {
  align-self: center;
}
.social a {
  padding: 12px;
}
.social a img {
  height: 28px;
  width: 27px;
}
.foot .fa-brands:hover {
  color: #ffd166;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: brown;
}
a:active {
  color: rgb(0, 0, 0);
}
.socials {
  height: 20%;
  width: 20%;
}

@media only screen and (max-width: 915px) {
  .logo-container {
    padding: 0.5%;
  }

  .main-btn {
    width: 100%;
    padding: 0;
  }
  .left {
    width: 100%;
  }
  .right-image {
    width: 180%;
    margin-top: 16%;
    margin-left: -10%;
    margin-right: -20px;
    margin-bottom: -6%;
    width: 125%;
    padding: 35px;
  }
  .right {
    margin-left: -20%;
    margin-top: -25%;
  }
  .left {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-container-home {
    flex-direction: column;
    align-items: flex-start;
    border-bottom-right-radius: 180px;
  }
  .left-h1 {
    font-size: 2.5rem;
    margin-top: 5%;
    font-size: 230%;
    padding: 0px;
    width: 90%;
    margin-bottom: 10px;
    margin-left: 5%;
  }
  .left p {
    text-align: center;
  }
  .left-para {
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    margin-left: 15%;
  }
  .left-head {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  .logo-container {
    height: 90px;
    width: 150px;
    margin: 0 auto;
    align-items: left;
  }
  .logo-pic {
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    align-self: left;
  }
  .second-container {
    align-items: center;
  }
  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    text-align: center;
  }

  .hr-length {
    visibility: visible;
    /* width: 170%; */
  }
  .images2 {
    width: 100%;
    margin-top: -3%;
    margin-bottom: 5%;
    margin-left: -6%;
  }
}
@media only screen and (max-width: 700px) {
  .logo-container {
    margin-top: 9px;
    margin-bottom: -25px;
    align-items: left;
  }
  .left-head {
    margin-left: 18%;
  }
  .right {
    margin-left: -100px;
  }
  .left-para {
    margin-left: 98px;
  }
  .images2 {
    margin-top: -4%;
  }
  .footer-section {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .social .flex {
    display: flex;
  }
  .footer-logo {
    margin-left: 30%;
  }
}
@media (max-width: 700px) {
  .main-btn {
    width: 100%;
    margin-left: 2%;
  }
  .left-h1 {
    margin-left: -9%;
  }
  .left-para {
    margin-left: 85px;
  }
  .right-image {
    align-self: center;
  }
  .secondary-btn-home {
    /* width: 30%; */
    padding: 0 5%;
  }
  .second {
    flex-direction: column;
  }
  .scn {
    flex-direction: column-reverse;
  }
  .text1 {
    width: 100%;
    padding: 12% 10%;
    padding-top: 15px;
    text-align: center;
    margin: 0;
    margin-bottom: -20%;
    font-size: 1.1rem;
    align-items: center;
  }
  .second-container {
    align-items: center;
  }
  .text2 {
    width: 100%;
    padding: 12% 10%;
    padding-top: 14px;
    text-align: center;
    margin: 5px;
    font-size: 1.1rem;
    align-items: center;
  }
  .secondary-btn-home {
    width: 100%;
    margin-top: 10%;
    align-self: center;
  }
  .secondary-image {
    width: 60%;
    margin: 0 auto;
  }
  .foot {
    font-size: 0.8rem;
    width: 100%;
  }
  .fa-brands {
    color: #fff;
    margin: 18px;
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 550px) {
  .left-para{
    margin-left: 18%;
  }
  .right-image {
    align-self: center;
    height: 120%;
    width: 180%;
    margin-left: -20%;
  }
  .main-container-home{
    border-bottom-right-radius:48px ;
  }
}
